
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    function isSignedIn() {
      return request.auth != null;
    }

    function isOwner(userId) {
      return isSignedIn() && request.auth.uid == userId;
    }

    match /users/{userId} {
      allow get: if isOwner(userId);
      allow list: if isSignedIn(); 
      allow create, update, delete: if isOwner(userId);

      match /challenges/{challengeId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }

      match /challengeResults/{resultId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }
      
      match /fitnessRecords/{recordId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }
      
      match /habits/{habitId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }

      match /taskProjects/{projectId} {
        allow get, list, create, update, delete: if isOwner(userId);
        
        match /taskStages/{stageId} {
          allow get, list, create, update, delete: if isOwner(userId);
          
          match /tasks/{taskId} {
            allow get, list, create, update, delete: if isOwner(userId);
          }
        }
      }

      match /financeTransactions/{transId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }

      match /studyProgress/{progId} {
        allow get, list, create, update, delete: if isOwner(userId);
      }

      match /gymDays/{dayId} {
        allow get, list, create, update, delete: if isOwner(userId);
        match /muscles/{muscleId} {
          allow get, list, create, update, delete: if isOwner(userId);
          match /exercises/{exerciseId} {
            allow get, list, create, update, delete: if isOwner(userId);
          }
        }
      }
    }
  }
}
